{% extends 'base.html.twig' %}

{% block body %}

<!-- background-image:url(../img/night.jpg); -->
<div id="header" style="background-image:url('{{ bg_1.image }}')">

    <br><br><br><br><br><br><br><br><br>
    <div class="bg-overlay"></div>
    <div class="center text-center">
        <div class="banner">
            <h1 class="">The King</h1>
        </div>
        <div class="subtitle"><h4>❤ RESTAURANT ❤</h4></div>
        <br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br>
    </div>
    <div class="bottom text-center">
        <a id="scrollDownArrow" href="#"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>
<!-- /#header -->

<div id="story" class="light-wrapper">
    <section class="ss-style-top"></section>
    <div class="container inner">
        <h2 class="section-title text-center">{{ data7[0].output }}</h2>
        <p class="lead main text-center"></p>
        <p style="text-align: center;text-shadow: 0 0 black;font-size: initial;">{{ data8[0].output }}</p>
        <h2><img style="width: 405px;display: block;margin-left: auto;margin-right: auto;" src="{{ img_story[0].image}}"></h2>

        <!-- /.services -->
    </div>
    <!-- /.container -->
    <section class="ss-style-bottom"></section>
</div><!-- #story -->
<div id="facts" class="parallax parallax2 facts" style="background-image:url('{{ bg_3[0].image }}')">

    <div class="container inner">
        <div class="row text-center services-3">


            <div class="col-sm-7">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-truck"></i> </div>
                    <h4>{{ nbr_cmd }}</h4>
                    <p> COMMANDES LIVRÉES</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-users"></i> </div>
                    <h4>{{ nbr_usr }}</h4>
                    <p>CLIENTS</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div><!-- #facts -->


<div id="food-menu" class="light-wrapper" >
    <section class="ss-style-top"></section>
    <div class="container inner">
        <h2 class="section-title text-center">{{ data9[0].output }}</h2>
        <p class="lead main text-center">{{ data10[0].output }}</p>



        <div class="wrapper">

            <div class="menu">
                <div class="container2">

                         <div class="single-menu" onclick="document.getElementById('modal-wrapper').style.display='block'">

                                <img src="{{ img5[0].image }}" alt="Snow">
                                    <div class="top-left">Pizza</div>


                         </div>
                </div>
                <div class="container2">
                     <div class="single-menu" onclick="document.getElementById('modal-wrapper-sandwich').style.display='block'">
                    <img src="{{ img6[0].image }}" alt="">
                         <div class="top-left">Sandwich</div>

                    </div>
                </div>
                <div class="container2">
                    <div class="single-menu" onclick="document.getElementById('modal-wrapper-boissons').style.display='block'">
                    <img src="{{ img7[0].image }}" alt="">
                        <div class="top-left">Boissons</div>

                    </div>
                </div>

            </div>
        </div>






        <div id="modal-wrapper" class="modal">

            <div class="modal-content animate" >




                <div class="wrapper2">
                    <div class="title">
                        <h4><span>Nourriture fraîche pour une bonne santé</span><br/>Notre Menu</h4>
                    </div>
                    <div class="menu2">


                        {%  for p in pizza %}
                            <div class="single-menu2">
                                <img src="{{ p.imageArt }}" alt="">
                                <div class="menu2-content">
                                    <h4>{{ p.nameArt }}</h4><span><h2 style="color: brown;"> {{ p.prixArt }} DT</h2></span>
                                    <form action="{{ path('ajouter',{'id' : p.id }) }}" method="post">
                                    <button >Ajouter au panier</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>



            </div>

        </div>

        <div id="modal-wrapper-sandwich" class="modal_swandch">

            <div class="modal-content animate" >
                <div class="wrapper2">
                    <div class="title">
                        <h4><span>Nourriture fraîche pour une bonne santé</span><br/>Notre Menu</h4>
                    </div>
                    <div class="menu2">


                        {%  for s in sandwich %}
                            <div class="single-menu2">
                                <img src="{{ s.imageArt }}" alt="">
                                <div class="menu2-content">
                                    <h4>{{ s.nameArt }}</h4><span><h2 style="color: brown;"> {{ s.prixArt }} DT</h2></span>
                                    <form action="{{ path('ajouter',{'id' : s.id }) }}" method="post">
                                    <button >Ajouter au panier</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>


            </div>

        </div>

        <div id="modal-wrapper-boissons" class="modal_boissons">

            <div class="modal-content animate" >

                <div class="wrapper2">
                    <div class="title">
                        <h4><span>Nourriture fraîche pour une bonne santé</span><br/>Notre Menu</h4>
                    </div>
                    <div class="menu2">


                        {%  for b in boissons %}
                            <div class="single-menu2">
                                <img src="{{ b.imageArt }}" alt="">
                                <div class="menu2-content">
                                    <h4>{{ b.nameArt }}</h4><span><h2 style="color: brown;"> {{ b.prixArt }} DT</h2></span>
                                    <form action="{{ path('ajouter',{'id' : b.id }) }}" method="post">
                                    <button >Ajouter au panier</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>

            </div>

        </div>






    </div>
    <!-- /.container -->
    <section class="ss-style-bottom"></section>
</div><!--/#food-menu-->



<div id="special-offser" class="parallax pricing" style="background-image:url('{{ bg_2[0].image }}')">

    <div class="container inner">

        <h2 class="section-title text-center">{{ data11[0].output }}</h2>
        <p class="lead main text-center">{{ data12[0].output }}</p>


        <div class="wrapper">

            <div class="menu">
                {% for spcl in spcloffr %}
                <div class="container2">

                    <div class="single-menu" >

                        <img src="{{ spcl.imageArt }}" alt="Snow">
                        <div class="top-left" style="color:lightslategray;">{{ spcl.prixArt }} DT</div>
                    </div>
                        <br/>
                    <div >
                        <font style="margin-left: -4%;font-size: 18px;font-family: monospace;display: flex;flex-direction: row;text-align: center;">
                            {{ spcl.nameArt }}
                        </font>
                    <br/><br/>

                        <form action="{{ path('ajouter',{'id' : spcl.id }) }}" method="post">

                            <button style="margin-left: 10%;font-size: 17px;font-family: monospace;display: flex;flex-direction: row;text-align: center;width: 143px;margin-top: -15%;border-radius: 15px;background-color: chocolate;">
                            Ajouter au panier
                        </button><br/>

                        </form>


                    </div>

                </div>
                {%  endfor %}

            </div>
        </div>

    </div>


    <!-- /.container -->
</div><!-- /#special-offser -->




<div id="reservation" class="light-wrapper">
    <section class="ss-style-top"></section>
    <div class="container inner">
        <h2 class="section-title text-center">Contact</h2>
        <p class="lead main text-center"></p>

        <div class="row">
            <div class="col-md-7 col-md-offset-5">

                <h3><i class="fa fa-clock-o fa-fw"></i>Heures</h3>

                <p>{{ data13[0].output }}<br>

                <h3><i class="fa fa-map-marker fa-fw"></i>Directions</h3>
                <p>{{ data14[0].output }}</p>

                <h3><i class="fa fa-mobile fa-fw"></i>Contact</h3>
                <p>Email: <a href="mailto:TheKing@email.com">{{ data15[0].output }}</a></p>
                <p>Téléphone: {{ data16[0].output }}</p>

            </div><!-- col-md-6 -->
        </div>
        <!-- /.services -->
    </div>
    <!-- /.container -->

</div><!-- #reservation -->




    <script>
    // If user clicks anywhere outside of the modal, Modal will close

    var modal = document.getElementById('modal-wrapper');
    var modal_swandch = document.getElementById('modal-wrapper-sandwich');
    var modal_boissons = document.getElementById('modal-wrapper-boissons');
    window.onclick = function(event) {
        if ((event.target == modal)||(event.target == modal_swandch)||(event.target == modal_boissons)) {
            modal.style.display = "none";
            modal_swandch.style.display = "none";
            modal_boissons.style.display = "none";
        }
    }


    </script>


{% endblock %}
