{%  extends 'profiladminbase.html.twig' %}
{% block body %}


    <section id="main">
        <div class="container">
            <div class="row">
                <div  class="col-md-9">
                    <ol  class="breadcrumb">
                        <li class="active">Profil</li>
                    </ol>
                    <div class="panel panel-default">

                        <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                                <ul class="nav navbar-nav">
                                    <li ><a href="{{ path('profil_ad') }}">Info</a></li>
                                    <li class="active"><a href="{{ path('securite') }}">Sécurité</a></li>

                                </ul>
                            </div>
                        </nav>


                        <div class="panel-body">


                            <center>
                                <div class="row">
                                    <h1 class="text-primary text-center"><font size="5">Changez votre mot de passe</font></h1>
                                    <font sier="2" color="gray">Vous pouvez changer votre mot de passe en mettant votre nouveau mot de passe !</font>

                                    <br/><br/>
                                    {% if app.session.flashBag.has('success') %}
                                        <div class="alert alert-success">
                                            {% for msg in app.session.flashBag.get('success') %}
                                                {{ msg }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    </br></br>
                                    <div style="margin-left: -2%;width: 102%;padding-right: 5px;" class="col-sm-6 col-sm-offset-3">

                                        {{ form_start(edit_form , { 'attr': {'style': 'width: 250px'} }) }}
                                        {{ form_widget(edit_form) }}
                                        <br/><center>  <input type="submit" value="Confirmer" class="btn btn-primary" /></center>
                                        {{ form_end(edit_form) }}





                                    </div>

                                </div>
                            </center>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <br/><br/><br/><br/>


{%  endblock %}
